doctype html
head
  meta(name="viewport" content="width=device-width")
  link(rel="stylesheet" href="stylesheets/app.css")
  meta(charset="utf-8")
  title Begemot

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")


  script.
    require('initialize');
  

body
  .wrapper
    .head
      img.logo(src="images/logo_narrow.png")
      nav
        ul
          li 
            a(href='#howitworks') How it Works
          li 
            a(href="#work") Work
          li 
            a(href="#about") About
          li 
            a(href="#contact") Contact
      p 
        |Fantastic Mobile Design,
        br
        |Profound Business Analysis,
        br
        |and a ‘Wow’ Factor for Your App

    .howitworks
      .how
        img.four(src="images/4.png")
        h1 How it Works
        p 
          |The most effective way for a mobile business to grow is by making little steps.  
          br
          |Release a beta, test it, analyze the result and move on to the next version.  
          br
          |We offer you our expertise and quidance in  making this first and
          br
          |the most important step.

      .steps
        p.one Discuss
        p.two Analyze
        p.three Start
        p.four Deliver

      .blocks
        .block-1.clearfix
          h1 1
          img.podcherk(src="images/podcherk.png")
          p 
            |We discuss with you the details
            br
            |of your business and the goal it
            br
            |has to reach with the mobile app. 
        .block-2.clearfix
          h1 2
          img.podcherk(src="images/podcherk.png")
          p
            |We come up with a minimal viable product
            br
            |which will help reach your business
            br
            |goal and can be delivered within a month.
        .block-3.clearfix
          h1 3
          img.podcherk(src="images/podcherk.png")
          p 
            |We discuss with you the details
            br
            |of your business and the goal it  
            br
            |has to reach with the mobile app. 
        .block-4.clearfix
          h1 4
          img.podcherk(src="images/podcherk.png")
          p
            |We discuss with you the details  
            br
            |of your business and the goal it  
            br
            |has to reach with the Mobilee app. 

    .ourclients
      .left-side
        p.text
          |Our clients should be confident that 
          |their  project is handled by a team who know  
          |very well what they are doing.  
          br
          |That's why every person on our team,  
          |besides being an expert, absolutely  
          |has to have the abilty to listen, think,  
          br
          |make decisions and be responsible 
          br
          |for them. 
        p.name <span>Andrasz</span> SEO
          
      .right-side 
        img(src="images/kamino.png")

    .reasonsforyou
      .left-side
        img(src="images/six.png")
      .right-side
        h1 
          |Reasons for You  
          br
          |to Rely on Us
        .text
          p.zagolovok.first We dig deep
          p 
            |We always go in-depth with every task at hand and come up with a solution which  
            br
            |will meet your requirements in a most efficient way. 

          p.zagolovok We know our stuff
          p 
            |We've done a lot of clients' work, and we know each aspect of our work  
            br
            |so well that we cannot but deliver an excellent job. 

          p.zagolovok We tripple-check
          p 
            |We make things that matter and make sense, and whatever we release,
            br
            | it has to be polished and flawless. 
          
          p.zagolovok We deliver on time
          p 
            |We've learned to plan our resources so well that we can guarantee  
            br
            |on-time delivery of whatever we do. 
          
          p.zagolovok We communicate
          p 
            |We listen to you, we hear you and we don't dissapear and are not afraid to take  
            br
            |responsibility should something go wrong. 
          
          p.zagolovok We specialize in mobile
          p 
            |Each of us is an expert in their field. Combined, we know everything there  
            br
            |is to know about mobile and there's no task we can't manage. 

    .statistic
      .one
        p.number.odometer 12
        p.text countries we work with
      .two
        p.number 39
        p.text completed projects
      .three
        p.number 4
        p.text years of excellence
      .four
        p.number 6 000 000
        p.text 
          |times our apps 
          br
          | have been installed
      .five
        p.number 10
        p.text experts
