doctype html
head
  meta(name="viewport" content="width=device-width")
  link(rel="stylesheet" href="stylesheets/app.css")
  meta(charset="utf-8")
  title Begemot

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")


  script.
    require('initialize');


body
  .wrapper
    .head
      img.logo(src="images/logo_narrow.png")
      nav
        ul
          li 
            a(href='#howitworks') How it Works
          li 
            a(href="#work") Work
          li 
            a(href="#about") About
          li 
            a(href="#contact") Contact
      p 
        |Fantastic Mobile Design,
        br
        |Profound Business Analysis,
        br
        |and a ‘Wow’ Factor for Your App

    .howitworks
      .how
        img.four(src="images/4.png")
        h1 How it Works
        p 
          |The most effective way for a mobile business to grow is by making little steps.  
          br
          |Release a beta, test it, analyze the result and move on to the next version.  
          br
          |We offer you our expertise and quidance in  making this first and
          br
          |the most important step.

      .steps
        p.one Discuss
        p.two Analyze
        p.three Start
        p.four Deliver

      .blocks
        .block-1.clearfix
          h1 1
          img.podcherk(src="images/podcherk.png")
          p 
            |We discuss with you the details
            br
            |of your business and the goal it
            br
            |has to reach with the mobile app. 
        .block-2.clearfix
          h1 2
          img.podcherk(src="images/podcherk.png")
          p
            |We come up with a minimal viable product
            br
            |which will help reach your business
            br
            |goal and can be delivered within a month.
        .block-3.clearfix
          h1 3
          img.podcherk(src="images/podcherk.png")
          p 
            |We discuss with you the details
            br
            |of your business and the goal it  
            br
            |has to reach with the mobile app. 
        .block-4.clearfix
          h1 4
          img.podcherk(src="images/podcherk.png")
          p
            |We discuss with you the details  
            br
            |of your business and the goal it  
            br
            |has to reach with the mobile app. 
