@import 'nib'

global-reset()

  

$helvetica = 'Helvetica Neue', sans-serif
$black = #272A2C

.clearfix
  clearfix()

.wrapper
  widht: 1440px
  max-width: 1440px
  position: relative
  margin: 0 auto
  .head
    position: relative
    background: url('../images/background-head.png') no-repeat
    background-size: 1440px
    min-width: 1440px
    height: 1024px
    .logo
      position: absolute
      top: 110px
      left: 110px
    nav
      float: right
      margin-right: 30px
      margin-top: 30px
      ul
        li
          display: inline-block
          padding-right: 30px
        a
          font-family: $helvetica
          font-weight: 300
          font-size: 18px
          color: #fff
          text-decoration: none
          
    p
      font-family: $helvetica
      color: #fff
      font-size: 60px
      position: absolute
      line-height: 74px
      top: 478px
      left: 110px
  
  .howitworks
    position: relative
    .how
      height: 432px
      .four
        position: absolute
        top: 72px
        left: 83px
      h1
        width: 310px
        color: $black
        font-size: 48px
        font-family: $helvetica
        font-weight: bold
        position: absolute
        left: 499px
        top: 72px
      p
        width: 550px
        color: $black
        font-family: 'Open Sans', sans-serif
        font-weight: 100
        font-size: 16px
        line-height: 20px 
        position: absolute
        top: 167px  
        left: 501px
      
    .steps
        font-family: $helvetica
        font-size: 20px
        margin-bottom: 9px
        .one
          position: absolute
          top: 407px
          left: 40px
        .two
          position: absolute
          top: 407px
          left: 400px
        .three
          position: absolute
          top: 407px
          left: 760px
        .four
          position: absolute
          top: 407px
          left: 1120px
      
    .blocks
      width: 1440px
      height: 358px
      p
        font-family: 'Arial Regular', sans-serif
        font-weight: 100
        color: #fff
        font-size: 14px
        line-height: 20px
      h1
        font-family: $helvetica
        font-size: 55px
        color: #fff
        
      .block-1
        position: relative
        float: left
        width: 360px
        height: 358px
        background: #D8D8D8
        h1
          position: absolute
          top: 72px
          left: 75px
        p
          position: absolute
          top: 172px
          left: 75px 
        
        .podcherk
          position: absolute
          top: 126px
          left: 79px
          
      .block-2
        position: relative
        float: left
        width: 360px
        height: 358px
        background: #FB432A
        h1
          position: absolute
          top: 72px
          left: 47px
        p
          position: absolute
          top: 172px
          left: 47px 
          
        .podcherk
          position: absolute
          top: 126px
          left: 49px
          
      .block-3
        position: relative
        float: left
        width: 360px
        height: 358px
        background: #B8B8B8
        h1
          position: absolute
          top: 72px
          left: 77px
        p
          position: absolute
          top: 172px
          left: 75px 
        
        .podcherk
          position: absolute
          top: 126px
          left: 79px
          
      .block-4
        position: relative
        float: left
        width: 360px
        height: 358px
        background: #A7A7A7
        h1
          position: absolute
          top: 20%
          left: 75px
        p
          position: absolute
          top: 172px
          left: 75px 
        
        .podcherk
          position: absolute
          top: 126px
          left: 79px
  
  .ourclients
    background-color: #F4F4F4
    display: inline-block
    position: relative
    height: 541px
    min-width: 1440px
    .left-side
      width: 720px
      font-family: $helvetica
      font-weight: 100
      color: #4A4A4A
      font-size: 35px
      .text
        width: 598px
        position: absolute
        top: 73px
        left: 61px
        line-height: 41px
      .name
        position: absolute
        top: 459px
        left: 61px
        font-size: 15px
        span
          font-weight: 500
    .right-side
      position: absolute
      top: 0
      left: 720px
      width: 720px
  
  .reasonsforyou
    min-width: 1440px
    position: relative
    height: 998px
    .left-side
      width: 720px
      position: absolute
      top: 102px
      left: 67px
    .right-side
      width: 720px
      position: absolute
      left: 720px
      top: 98px
      h1
        font-family: $helvetica
        font-size: 48px
        font-weight: 600
        line-height: 58px
      .text
        position: absolute
        left: 5px
        .zagolovok
          font-family: $helvetica
          font-size: 20px
          margin-top: 34px
          margin-bottom: 25px
          color: #202020
        .first
          margin-top: 40px
          margin-bottom: 30px
        p
          font-family: $helvetica
          font-size: 14px
          line-height: 16px
          color: #A3A0A0
  
  .statistic
    background-color: #FBFBFB
    min-width: 1440px
    position: relative
    height: 527px
    font-family: $helvetica
    .one
      position: absolute
      top: 98px
      left: 113px
      .number
        float: left
        color: #262626
        font-weight: 600
        font-size: 40px
      .text
        margin-left: 9px
        margin-top: 4px
        float: right
        color: #4A4A4A
        font-size: 16px
        
    .two
      position: absolute
      top: 76px
      left: 487px
      .number
        float: left
        color: #262626
        font-weight: 600
        font-size: 95px
      .text
        margin-left: 9px
        margin-top: 4px
        float: right
        color: #4A4A4A
        font-size: 24px
        
        
    .three
      position: absolute
      top: 294px
      left: 312px
      .number
        float: left
        color: #262626
        font-weight: 600
        font-size: 55px
      .text
        margin-left: 9px
        margin-top: 7px
        float: right
        color: #4A4A4A
        font-size: 16px
        
    .four
      position: absolute
      top: 180px
      left: 928px
      .number
        float: left
        color: #262626
        font-weight: 600
        font-size: 60px
      .text
        margin-top: 10px
        line-height: 20px
        margin-left: 20px
        float: right
        color: #4A4A4A
        font-size: 16px
        
    .five
      position: absolute
      top: 426px
      left: 845px
      .number
        float: left
        color: #262626
        font-weight: 600
        font-size: 90px
      .text
        margin-top: 6px
        margin-left: 4px
        float: right
        color: #4A4A4A
        font-size: 22px
    