@import 'nib'

global-reset()

  

$helvetica = 'Helvetica Neue', sans-serif
$black = #272A2C

.clearfix
  clearfix()

font = "Helvetica Neue","Helvetica", Sans, Arial

bold(font-size = 13px, line-height = 21px)
  font: 700 font-size/line-height font
  -webkit-font-smoothing: antialiased

thin(font-size = 13px, line-height = 21px)
  font: 200 font-size/line-height font
  -webkit-font-smoothing: antialiased

light(font-size = 13px, line-height = 21px)
  font: 300 font-size/line-height font
  -webkit-font-smoothing: antialiased

regular(font-size = 13px, line-height = 21px)
  font: 400 font-size/line-height font
  -webkit-font-smoothing: antialiased

medium(font-size = 13px, line-height = 21px)
  font: 500 font-size/line-height font
  -webkit-font-smoothing: antialiased



mobile()
  @media only screen and (max-width: 699px)
    {block}
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2 / 3)
    {block}
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40 / 71)
    {block}
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)
    {block}

tablet()
  @media screen and (min-width: 700px) and (max-width: 890px)
    {block}
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)
    {block}

small_screen()
  @media only screen and (min-device-width: 1025px) and (max-device-width: 1199px) and (orientation: portrait)
    {block}

hd()
  @media only screen and (min-width: 1200px)
    {block}



.container
  max-width 1440px
  position relative
  margin 0 auto
  clearfix()

.head
  position: relative
  height: 1024px
  min-height: 600px
  height: 100vh
  background: #FB4739
  background: url('../images/background-head.jpg') no-repeat
  background-size: cover
  +mobile()
    background: url('../images/123.png') no-repeat #FB4739
    background-size: cover
    background-position: -120% 0%
  .container
    // background: url('../images/background-head.jpg') no-repeat
    // background-size: cover
    height: 1024px
    min-height: 600px
    height: 100vh
  .logo
    position: absolute
    top: 110px
    left: 110px
    +tablet()
      top: 40px
      height: 10vh
    +mobile()
      top: 70px
      height: 10vh
      left: 35px
      
    
  nav
    float: right
    margin-right: 30px
    margin-top: 30px
    +mobile()
      display: none
    ul
      li
        display: inline-block
        padding-right: 30px
      a
        font-family: $helvetica
        font-weight: 300
        font-size: 18px
        color: #fff
        text-decoration: none
        
  p
    font-family: $helvetica
    color: #fff
    regular 40px 60px
    position: absolute
    bottom: 20%
    left: 110px
    +hd()
      regular 60px 76px
    +mobile()
      regular 20px 46px
      left: 35px
      line-height: 35px
      
      
.howitworks
    position: relative
    .how
      height: 432px
      .four
        position: absolute
        top: 72px
        left: 83px
        +mobile()
          display: none
        
      h1
        width: 310px
        color: $black
        bold 48px 48px
        font-family: $helvetica
        font-weight: bold
        position: absolute
        left: 499px
        top: 72px
        +hd()
          bold 48px 48px
        +tablet()
          left: 409px
        +mobile()
          left: 43px
      p
        
        color: $black
        font-family: 'Open Sans', sans-serif
        font-weight: 100
        regular: 16px 16px
        line-height: 20px 
        position: absolute
        top: 167px  
        left: 501px
        +hd()
          font-size: 16px 16px
        +tablet()
          left: 410px
          font-size: 17px
          width: 45vw
        +mobile()
          left: 45px
          width: 76vw
        
      
    .steps
        font-family: $helvetica
        font-size: 20px
        margin-bottom: 9px
        +tablet()
          display: none
        +mobile()
          display: none
        .one
          position: absolute
          top: 407px
          left: 40px
        .two
          position: absolute
          top: 407px
          left: 400px
        .three
          position: absolute
          top: 407px
          left: 760px
        .four
          position: absolute
          top: 407px
          left: 1120px
      
    .blocks
      width: 100vw
      height: 25vw
      overflow: hidden
      whitespace: nowrap
      +tablet()
        width: 100vw
        height: 100vw
      +mobile()
        width: 100vw
        height: 100vw
      p
        font-family: 'Arial Regular', sans-serif
        font-weight: 100
        color: #fff
        font-size: 14px
        line-height: 20px
      h1
        font-family: $helvetica
        font-size: 55px
        color: #fff
        
      .block-1
        position: relative
        float: left
        whitespace: nowrap
        width: 25vw
        height: 25vw
        +tablet()
          width: 50vw
          height: 50vw
        +mobile()
          width: 50vw
          height: 50vw
        background: #D8D8D8
        h1
          position: absolute
          top: 72px
          left: 75px
        p
          
          position: absolute
          top: 50%
          left: 50%
          transform: translateX(-50%)
          font-size: 1.2vw
          line-height: 1.4vw 
          +hd()
            font-size: 1vw
            line-height: 20px
          +mobile()
            font-size: 2.5vw
            line-height: 20px
          +tablet()
            regular 20px 25px
        .podcherk
          position: absolute
          top: 126px
          left: 79px
          
      .block-2
        position: relative
        float: left
        whitespace: nowrap
        width: 25vw
        height: 25vw
        +tablet()
          width: 50vw
          height: 50vw
        +mobile()
          width: 50vw
          height: 50vw
        background: #FB432A
        h1
          position: absolute
          top: 72px
          left: 75px
        p
          
          position: absolute
          top: 50%
          left: 50%
          transform: translateX(-50%)
          font-size: 1.2vw
          line-height: 1.4vw 
          +hd()
            font-size: 1vw
            line-height: 20px
          +mobile()
            font-size: 2.5vw
            line-height: 20px
          +tablet()
            regular 20px 25px
        
        .podcherk
          position: absolute
          top: 126px
          left: 79px
          
      .block-3
        position: relative
        float: left
        whitespace: nowrap
        width: 25vw
        height: 25vw
        +tablet()
          width: 50vw
          height: 50vw
        +mobile()
          width: 50vw
          height: 50vw
        background: #B8B8B8
        h1
          position: absolute
          top: 72px
          left: 75px
        p
          
          position: absolute
          top: 50%
          left: 50%
          transform: translateX(-50%)
          font-size: 1.2vw
          line-height: 1.4vw 
          +mobile()
            font-size: 2.5vw
            line-height: 20px
          +tablet()
            regular 20px 25px
          +hd()
            font-size: 1vw
            line-height: 20px
        
        .podcherk
          position: absolute
          top: 126px
          left: 79px
          
      .block-4
        position: relative
        float: left
        whitespace: nowrap
        width: 25vw
        height: 25vw
        +tablet()
          width: 50vw
          height: 50vw
        +mobile()
          width: 50vw
          height: 50vw
        background: #A7A7A7
        h1
          position: absolute
          top: 72px
          left: 75px
        p
          
          position: absolute
          top: 50%
          left: 50%
          transform: translateX(-50%)
          font-size: 1.2vw
          line-height: 1.4vw 
          +hd()
            font-size: 1vw
            line-height: 20px
          +mobile()
            font-size: 2.5vw
            line-height: 20px
          +tablet()
            regular 20px 25px
        
        .podcherk
          position: absolute
          top: 126px
          left: 79px
  

.wrapper
  widht: 100%
  overflow: hidden
  max-width: 1440px
  position: relative
  margin: 0 auto
  
  
  .ourclients
    background-color: #F4F4F4
    display: inline-block
    position: relative
    height: 541px
    min-width: 1440px
    .left-side
      width: 720px
      font-family: $helvetica
      font-weight: 100
      color: #4A4A4A
      font-size: 35px
      .text
        width: 598px
        position: absolute
        top: 73px
        left: 61px
        line-height: 41px
      .name
        position: absolute
        top: 459px
        left: 61px
        font-size: 15px
        span
          font-weight: 500
    .right-side
      position: absolute
      top: 0
      left: 720px
      width: 720px
  
  .reasonsforyou
    min-width: 1440px
    position: relative
    height: 998px
    .left-side
      width: 720px
      position: absolute
      top: 102px
      left: 67px
    .right-side
      width: 720px
      position: absolute
      left: 720px
      top: 98px
      h1
        font-family: $helvetica
        font-size: 48px
        font-weight: 600
        line-height: 58px
      .text
        position: absolute
        left: 5px
        .zagolovok
          font-family: $helvetica
          font-size: 20px
          margin-top: 34px
          margin-bottom: 25px
          color: #202020
        .first
          margin-top: 40px
          margin-bottom: 30px
        p
          font-family: $helvetica
          font-size: 14px
          line-height: 16px
          color: #A3A0A0
  
  .statistic
    background-color: #F4F4F4
    min-width: 1440px
    position: relative
    height: 527px
    font-family: $helvetica
    .one
      position: absolute
      top: 98px
      left: 113px
      .number
        float: left
        color: #262626
        font-weight: 600
        font-size: 40px
      .text
        margin-left: 9px
        margin-top: 4px
        float: right
        color: #4A4A4A
        font-size: 16px
        
    .two
      position: absolute
      top: 76px
      left: 487px
      .number
        float: left
        color: #262626
        font-weight: 600
        font-size: 95px
      .text
        margin-left: 9px
        margin-top: 4px
        float: right
        color: #4A4A4A
        font-size: 24px
        
        
    .three
      position: absolute
      top: 294px
      left: 312px
      .number
        float: left
        color: #262626
        font-weight: 600
        font-size: 55px
      .text
        margin-left: 9px
        margin-top: 7px
        float: right
        color: #4A4A4A
        font-size: 16px
        
    .four
      position: absolute
      top: 180px
      left: 928px
      .number
        float: left
        color: #262626
        font-weight: 600
        font-size: 60px
      .text
        margin-top: 10px
        line-height: 20px
        margin-left: 20px
        float: right
        color: #4A4A4A
        font-size: 16px
        
    .five
      position: absolute
      top: 426px
      left: 845px
      .number
        float: left
        color: #262626
        font-weight: 600
        font-size: 90px
      .text
        margin-top: 6px
        margin-left: 4px
        float: right
        color: #4A4A4A
        font-size: 22px
    